name: unit-tests

on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:
    inputs:
      artifact-name:
        type: string
        required: false

jobs:
  run:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Prepare Maven local directory
        run: mkdir -p ~/.m2/repository/com/aouledissa

      - name: Download DeepMatch Maven artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
          path: ~/.m2/repository/com/aouledissa

      - name: Run unit tests
        run: ./gradlew test --no-daemon

      - name: Validate sample composite build
        run: ./gradlew -p samples/android-app generateDebugDeeplinkSpecs --no-daemon
